:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 2500px;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/genggam.jpg);
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    z-index: -1;
    filter: ();
}


.hero{
    position: relative;
    min-height: 100vh;
}

.hero h1, 
.hero h4, 
.hero p,
.info h2,
.info p,
.mynavbar a {
text-shadow: var(--shadow);
}

.hero h1 {
    font-family: "Sacramento", cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
font-size: 1.4rem;
}

.hero a {
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-family: 'sacramento', cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.home {
    background-image: url(img/bungahijau.jpg) ;
    background-size: cover;
    min-height: 100vh;
    margin-top: -6.4rem;
    padding-top: 15rem;
}

.home h2, 
.info h2 {
    color: white;
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
} 

.home h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: white;
}

.home h2,
.home h3,
.home p {
    text-shadow: var(--shadow);
}

.home .couple {
    margin-top: 100px;
}

.home .couple h3 {
    font-family: 'sacramento';
    font-size: 2.4rem;
}

.home .couple img {
    width: 100%;
    aspect-ratio: 1 / 1;   /* memastikan bentuk kotak */
    object-fit: cover;
    border-radius: 50%;
}

.home .heart {
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    text-shadow: var(--shadow);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(110px);
}

.home .heart i {
    margin: auto;
    color: white;
}

.info {
    background-image: url(img/tangan.jpg) ;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    z-index: -1;
    filter: drop-shadow();
    color: white;
    padding-top: 20rem;
    padding-bottom: 8rem;
}

.info .alamat {
    font-size: 1.5rem;
}

.info .description {
    font-size: 1.5rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.2)!important;
    color: white !important;
    border: 1px solid #999;
}

.info .card-header {
    border: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    border-top: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;
}

/* Media Query */ 
/* Extra large */

@media (max-width: 1200px){
    .home .heart {
        transform: translateX(-50%) translateY(90px);
    }
}


/* laptop */
@media (max-width: 992px){
    html {
        font-size: 75%;
    }

    .home .heart {
        display: none;
    }

    
}
/* tablet */
@media (max-width: 768px){
    html {
        font-size: 65%;
    }
.mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
}
    
}
/* mobile phone */
@media (max-width: 576px){
    html {
        font-size: 60%;
    }

}